<div style="background-color: #F7F7F7; border-top: 10px ;solid :#e2e2e2;
    border-top-width: 1px;
    border-top-style: solid; ">
  <a href="" style="color: #999999; margin-right: 5px" >About</a>
  <a href="" style="color: #999999;margin-right: 5px">Careers</a>
  <a href="" style="color: #999999;margin-right: 5px">Businesses</a>
  <a href="" style="color: #999999;margin-right: 5px">Sitemap</a>
  <a href="" style="color: #999999;margin-right: 5px">Privacy</a>
  <a href="" style="color: #999999;margin-right: 5px">Terms</a>
  <a href="" style="color: #999999;margin-right: 5px">Contact</a>
  <a href="" style="color: #999999;margin-right: 5px">Espanol</a>
  <a href="" style="color: #999999;margin-right: 5px">Francais</a>
  <a href="" style="color: #999999;margin-right: 5px; margin-left: 200px">Deutsch</a>
  <a href="" style="color: #999999;margin-right: 5px">Italiano</a>
  <a href="" style="color: #999999;margin-right: 5px">Chinese</a>
</div>
