<div style="background-color: white">
  <button class="btn btn-default" style="background: #E74C3C  ;
        color: white;
        height: 40px;
        width: 270px;" ><i class="fa fa-google" aria-hidden="true"></i>   Continue with Google</button><br/><br/>
  <button class="btn btn-default" style="background: #4267b2;
        color: white;
        height: 40px;
        width: 270px;" ><i class="fa fa-facebook-official" aria-hidden="true"></i>   Continue with Facebook</button><br/><br/>
  <p style="color: #999;font-size: 13px;">
    <a href="" style="color: #4267b2">Continue With Email.</a>
    By signing up you indicate that you have read and agree to the <a href=""style="color: #4267b2">Terms of Service</a> and <a href=""style="color: #4267b2">Privacy Policy.</a>
  </p>
</div>

