<div class="row" style="margin-top: 5%; margin-bottom: 5%;" >
  <div class="col-lg-3 col-md-3 col-sm-3"></div>
  <div class="col-lg-6 col-md-6 col-sm-6" style="background-color: white; border-radius: 4px">
    <app-main-component></app-main-component>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <br>
        <br>
        <app-sign-up-component></app-sign-up-component>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6"><br><br>
        <app-login-component></app-login-component>
      </div>
    </div>
    <div >
      <app-bottom-component2></app-bottom-component2>
    </div>
    <div >
      <app-bottom-component></app-bottom-component>
    </div>
  </div>

</div>


